body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(montaña.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    background-color: mediumslateblue;
    padding: 10px 50px;
    width: 300px;
}
form{
    padding: 5px 60px;
    margin: 0;
    width: 250px;
    border: 2px solid rgb(7, 1, 34);
    background-color: rgb(146, 145, 153);
}
#entrada{
    font-family: Verdana;
    font-size: 14px;
    width: 240px;
}
#boton{
    font-family: Tahoma;
    font-size: 14px;
    width: 150px;
    
}
/*
body{
	background-image:url(cusco.jpeg);
	width: 100%;
	height:100%vh;
	background-size: cover;
	color:rgb(12, 2, 2);
	
}*/